// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

a {
    text-decoration: none !important;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
html, body {
    height: 100%;
    margin: 0;
}
.ck-editor__editable {
    min-height: 200px;
    max-height: 500px;
}
//#background-video {
//    width: 100vw;
//    height: 100vh;
//    object-fit: cover;
//    position: fixed;
//    left: 0;
//    right: 0;
//    top: 0;
//    bottom: 0;
//    z-index: -1;
//}
//body {
//    overflow: hidden; /* Hide scrollbars */
//}
